{% extends 'base.html' %}

{% block content %}

<div class="container">
<h1>Atualize seu perfil</h1>
<form method="POST">
{% csrf_token %}

{{form.label}}
{{form.errors}}
{{form.as_p}}

<input type="submit" name="Salvar">
</form>
</div>



{% endblock content %}