{% extends 'base.html' %}

{% block content %}

<div class="container">
<h1>Meu perfil</h1>

<fieldset>
	<label>Dados Pessoais do pesquisador</label>
	<p>Nome: {{pesquisador.nome_do_pesquisador}}</p>
	<p>E-mail: {{pesquisador.usuario}}</p>
	<p>E-auternativo: {{pesquisador.email}}</p>
	

</fieldset>

<fieldset>
	<label>Dados Acadêmicos</label>
	<p>Curso: {{pesquisador.curso}}</p>
	

</fieldset>
</div>

{% endblock content %}