{% extends 'base.html' %}

{% block content %}
<div class="container">
<h3>Nossos pesquisadores</h3>
{% for pesquisador in pesquisadores %}
<ul class="collection">
    <li class="collection-item avatar">
      <img src="http://regmedia.co.uk/2011/11/24/avatar_big.jpg" alt="" class="circle">
      <span class="title">{{ pesquisador.nome_do_pesquisador }}</span>
      <p>{{ pesquisador.curso }} <br>
         {{ pesquisador.curso.instituicao }}
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
{% endfor %}
</div>
{% endblock content %}