{% extends 'base.html' %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
		<h4 class="header truncate center-align">Anuário de Pesquisa da UFRPE/UAST</h4>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Começe agora</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://www.ufrpe.br/sites/ww2.prppg.ufrpe.br/files/styles/panopoly_image_original/public/uast_10_anos_slide.png" alt="Unsplashed background img 1"></div>
  </div>

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      <div>
        <h3 class="center-align">Como participar?</h3>
      </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">flash_on</i></h2>
            <h4>Crie uma conta!</h4>

            <p class="light">Vá até a aba Registre-se, e preencha o formulário rápido de cadastro. Isso permitirá vocë construir um perfil de pesquisador.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">group</i></h2>
            <h4 class="center">Construa um perfil!</h4>

            <p class="light">Após criar seu usuário, acesse sua conta e preencha o maximos de informações possíveis, para que podessamos compreender melhor suas atividades de pesquisa.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">settings</i></h2>
            <h4 class="center">Adcione suas pesquisas</h4>

            <p class="light">Agora vocë pode adcionar suas pesquisas, encontrar pesquisadores e outras pesquisas. Organiza e centraliza toda sua produção cientifica em um só lugar.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

 {% endblock content %} 